@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #2a2a2a;
    font-family: 'Roboto Slab', serif;
}

 


/*HEADER*/
.header-container   {
    height: 70px;
}
header {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
}



.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: larger;
    font-weight: bold;
    padding: 0 40px;
    line-height: 70px;
}

ul {
    display: flex;
    align-items: center;
    margin-right: 40px;
    list-style: none;

}


li {

    padding: 10px;

}


/*MAIN*/

main{   
    height: 1028px;
    width: 1386px;

}

.container{  
    height: 1028px;
    width: 1386px;
}
.titulo {
    height: 76px;
    width: 1386px;
}
.container-espaciado    {
    height: 952px;
    width: 1320px;
    display: grid;
    grid-template-columns: repeat(2, auto);
   
}
.titulo{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-title {
    font-size: xx-large;
    color: white;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: arial;
    background-color: ghostwhite;
  }
  
  .price {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  
/*FOOTER*/

footer{
    height: 80px;
}